<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641961655445-5hg6qqap4g30ne3rnmbf0du2etu1ti9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641961655445-5hg6qqap4g30ne3rnmbf0du2etu1ti9s</string>
	<key>API_KEY</key>
	<string>AIzaSyACsZH6Qs88fgE6jTSd1AEx9gDJoTu8DS8</string>
	<key>GCM_SENDER_ID</key>
	<string>641961655445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-7266c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-7266c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641961655445:ios:b025b8196a58925c28af9c</string>
</dict>
</plist>