<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641961655445-psp7cr19krcq9h3cs1ftuh07bql9m8o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641961655445-psp7cr19krcq9h3cs1ftuh07bql9m8o4</string>
	<key>API_KEY</key>
	<string>AIzaSyACsZH6Qs88fgE6jTSd1AEx9gDJoTu8DS8</string>
	<key>GCM_SENDER_ID</key>
	<string>641961655445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInstagramClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-7266c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-7266c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641961655445:ios:8d8f6faff2ca00c928af9c</string>
</dict>
</plist>